{% extends '::layout.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ player.firstname }}</div>
        <div class="panel-body">
            <div class="row stat-boxes">
                <div class="col-md-6">
                    <h5>Games</h5>
                    <p>{{ playerStat.totalGameCount }} <small>({{ playerStat.totalWinsCount }} wins, {{ playerStat.totalLosesCount }} loses, {{ playerStat.getWinPercentage() }}% wins)</small></p>
                    <div id="games-area">
                        <canvas id="games-chart" width="250" height="250"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>Goals</h5>
                    <p>{{ playerStat.getTotalGoalCount }} <small>({{ playerStat.forwardPositionGoalCount }} forward, {{ playerStat.backPositionGoalCount }} back, {{ playerStat.owngoalCount }} owngoal)</small></p>
                    <div id="goals-area">
                        <canvas id="goals-chart" width="250" height="250"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Games</div>
        <table id="games-index" class="table table-striped table-hover">
            <thead>
            <tr>
                <th width="250">Start (duration)</th>
                <th class="align-center">Team 1</th>
                <th class="align-center">Score</th>
                <th class="align-center">Team 2</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for game in games %}
                {% if game.end %}
                    {% set diff = game.end.diff(game.start) %}
                {% endif %}
                {% if game.hasTeamOneWon %}
                    {% set colorTeamOne = "green" %}
                    {% set colorTeamTwo = "#911418" %}
                    {% set fontSizeTeamOne = "17" %}
                    {% set fontSizeTeamTwo = "15" %}
                {% else %}
                    {% set colorTeamOne = "#911418" %}
                    {% set colorTeamTwo = "green" %}
                    {% set fontSizeTeamOne = "15" %}
                    {% set fontSizeTeamTwo = "17" %}
                {% endif %}
                <tr>
                    <td>
                        {{ game.start|date("D, j M Y - H:i") }}
                        {% if game.end %}
                            ({{ diff.i }}m {{ diff.s }}s)
                        {% endif %}
                    </td>
                    <td class="align-center">
                        {{ game.playerOneTeamOne|player|raw|raw|raw }} &amp;
                        {{ game.playerTwoTeamOne|player|raw|raw|raw }}
                    </td>
                    <td class="align-center"><span style="color: {{ colorTeamOne }}; font-size: {{ fontSizeTeamOne }}px">{{ game.goalsTeamOne }}</span> - <span style="color: {{ colorTeamTwo }}; font-size: {{ fontSizeTeamTwo }}px">{{ game.goalsTeamTwo }}</span></td>
                    <td class="align-center">
                        {{ game.playerOneTeamTwo|player|raw|raw|raw }} &amp;
                        {{ game.playerTwoTeamTwo|player|raw|raw|raw }}
                    </td>
                    <td class="align-right">
                        <a href="{{ path('game_detail', { 'id': game.id }) }}" class="btn btn-default">Detail</a>
                        {% if not game.end %}
                            <a href="{{ path('game_live') }}" class="btn btn-primary">Live</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagerfanta text-center">
            {{ pagerfanta(games, 'twitter_bootstrap3') }}
        </div>
    </div>
{% endblock %}
{% block js %}
    var gamesData = [
    {
    value: {{ playerStat.totalWinsCount }},
    color: "#46BFBD",
    highlight: "#5AD3D1",
    title: "Wins",
    },
    {
    value: {{ playerStat.totalLosesCount }},
    color:"#F7464A",
    highlight: "#FF5A5E",
    title: "Loses",
    }
    ];
    var goalsData = [
    {
    value: {{ playerStat.forwardPositionGoalCount }},
    color: "#46BFBD",
    highlight: "#5AD3D1",
    title: "Forward",
    },
    {
    value: {{ playerStat.backPositionGoalCount }},
    color:"#F7464A",
    highlight: "#FF5A5E",
    title: "Back",
    }
    ];
    window.onload = function(){
    var ctx = document.getElementById("games-chart").getContext("2d");
    window.Pie = new Chart(ctx).Pie(gamesData, {
    animation: false,
    responsive : false,
    inGraphDataShow: true,
    inGraphDataAnglePosition : 2,
    inGraphDataRadiusPosition: 2,
    inGraphDataRotate : "inRadiusAxisRotateLabels",
    inGraphDataAlign : "center",
    inGraphDataVAlign : "middle",
    inGraphDataFontColor : "white",
    inGraphDataFontSize : 10

    });
    var ctx2 = document.getElementById("goals-chart").getContext("2d");
    window.Pie2 = new Chart(ctx2).Pie(goalsData, {
    animation: false,
    responsive : false,
    inGraphDataShow: true,
    inGraphDataAnglePosition : 2,
    inGraphDataRadiusPosition: 2,
    inGraphDataRotate : "inRadiusAxisRotateLabels",
    inGraphDataAlign : "center",
    inGraphDataVAlign : "middle",
    inGraphDataFontColor : "white",
    inGraphDataFontSize : 10
    });
    };
{% endblock js %}
